body{
    background-color: rgb(241, 255, 231);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    flex-direction: column;
}

.titulo {
    font-size: 36px;
    margin-bottom: 20px; 
}

.container{
    display: flex;
}

.form {
    background-color: rgb(68, 207, 108);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 440px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}
/* Estilo para el título h2 */
.form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.form input[type="text"],
.form textarea {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón */
.form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6f00; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form button:hover {
    background-color: #e65100; 
}

#divShow {
    text-align: center;
    background-color: rgb(169, 253, 172);
    width: 350px;
    border-radius: 10px;
    padding: 20px; 
    font-size: 20px; 
    overflow-y: auto;
    max-height: 400px;
    word-wrap: break-word; 
}


.dele-boton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f14d3e; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dele-boton:hover {
    background-color: #b82e21; 
}

[data-priority="Urgente"] {
    color: red;
}
[data-priority="Alta"] {
    color: rgb(212, 187, 0);
}
[data-priority="Normal"] {
    color: rgb(29, 85, 17);
}

/* Estilos para los campos de entrada */
input[type="datetime-local"],
select {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}


